.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 203px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 330px;
  margin: 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 430px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    top: 123px;
    max-height: 322px;
  }
}
